
    {% extends 'blog/base.html' %}
   {% load staticfiles %} 
    {% block content %}
        <div class="fecha">
            {% if post.fecha_publicado %}
                {{ post.fecha_publicado }}
            {% endif %}
            </div>
            <div class="post">
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <h1>{{ post.titulo }}</h1>
                
                <p>{{ post.texto|linebreaksbr }}</p>
            </div>
    {% endblock %}
